.adminBody {
    background-color: rgb(252, 230, 188);
    min-height: 100vh;
    padding-bottom: 50px;
}

.form_container {
    display: flex;
    justify-content: center;
    background-color: white;
    /* padding: 30px 20px; */
    border-radius: 10px;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.19);
}
.form_container form {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    gap: 30px;
}
