.App {
}
.container {
  max-width: 1350px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.card_containers {
  display: flex;
  gap: 30px;
}
.sub_title {
  display: flex;
  justify-content: center;
  gap: 10px;
  height: 5px;
  align-items: center;
  padding-bottom: 35px;
  font-size: 15px;
}
.sub_title p {
  font-weight: 400;
}
.author {
  color: white;
  background-color: black;
  padding: 0 10px;
}